#main_div{
    margin-top: 40px;
    
}

body{
    font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.copy_right_footer{
    position: fixed;
    color:grey;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: aqua;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}

